.modal-wrapper{
    display: flex;
    height: 100vh;
}
.data-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(243, 242, 242);
    margin: auto;
    padding: 30px;
    height: 700px;
    width: 900px;
    border-radius: 5px;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .2);
}
.img-wrapper{
    margin: 30px;
    height: 250px;
    width: 250px;
}
.success-img{
    height: 100%;
    width: 100%;
}
.title{
    margin-top: 50px;
}
.subtitle{
    font-size: 20px;
}
.outlined-button{
    margin: 20px 0px;
    padding: 15px;
    width: 250px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 50px;
    border: 3px solid #FD5D5D;
    background-color: white;
    cursor: pointer;
}