.searchbar-wrapper {
    display: flex;
    height: 80px;
    /* background-color: #e2e2e2; */
    align-items: center;
    justify-content: center;
}

.serachBox {
    width: 422px;
    height: 40px;
    padding-left: 10px;
    font-style: italic;
    border: 1px solid rgb(180, 179, 179);
    background-color: white;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}

.searchbtn {
    background-color: #80bf32;
    height: 40px;
    width: 129px;
    font-size: 16px;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
}

.cancleBtn {
    background-color: #f14d54;
    height: 40px;
    width: 129px;
    font-size: 16px;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
}